* {
    /*box-sizing: border-box;*/
    text-align: center;
}

body {
    background-image: url("../images/backbround1.jpg");
}

h2 {
    text-align: center;
    color: whitesmoke;
}

input {
    color: black;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: row wrap;
    padding: 10px;
}

.flex.horizontal {
    /*margin:-10px;*/
}


.toparea {
    border: 2px solid red;
    height: 300px;
    width: 300px;
    margin: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Comic Sans MS";
    font-size: 26px;
    background: coral;

}

.messagearea {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    padding-bottom: 15px;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top: 5px;
    margin-right: -15px;
}

.userchoice {
    display: flex;
    flex-direction: column;
    font-size: 26px;
    font-family: "Comic Sans MS";
}

.userchoices {
    display: flex;
    flex-direction: column;
    font-size: 26px;
    font-family: "Comic Sans MS";
}


.stuffhappens {
    display: flex;
    flex-direction: row;
    height: auto;
}

.noise {
    text-align: left;
}
.myPlaya {
    color: #6ea3da;
}


#stuffhappens {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    height: auto;
    width: 90%;
    justify-content: center;
}


#currmess {
    width:95%;
    display: flex;
    flex-direction:  column;
    text-align: left;
}

#chat {
    height: 300px;
    text-align: left;
    overflow: scroll;
    opacity: .5;
    background-color: #efefef;
    font-weight: bold;
    font-size: 14px;
}

#results {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 30px;
    font-weight: bolder;
    color: red;
}

#boom {
    font-size: 36px;
    font-family: "Comic Sans MS";
    color: #378DBC;
}

#submitmes {
    width: 5%;
}

#heading {
    font-family: "Comic Sans MS";
    font-size: 18px;
    text-align: left;
    color: whitesmoke;
}

#players {
    text-align: left;
    color: black;
}

#submit {
    text-align: left;
    color: black;
}




